<div class="container">
    <div ng-include="'app/components/dashboard_tabs/template/dashboard.tabs.html'"></div>
    <div class="row articleShow articlePreview">
        <div class="col-md-3 col-sm-12 col-xs-12 articlePreviewLeft">
            <div class="content">
                <div class="button">
                    <a ui-sref="enterprise-auth.company.article-edit({companyId: articleCtrl.companyId, articleId: articleCtrl.article.id})" class="btn btn-success sub articleSub">
                        {{ 'button.modify' | translate}}
                    </a>
                    <a ui-sref="enterprise-auth.company.article-list({companyId: articleCtrl.companyId})" class="btn btn-default sub">
                        {{ 'button.return' | translate}}
                    </a>
                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-md-9 col-sm-12 col-xs-12 articlePreviewRight">
            <div class="loading text-center" ng-show="articleCtrl.loading">
                <i class="fa fa-3x fa-spinner fa-spin"></i>
            </div>
            <div ng-show="!articleCtrl.loading">
                <h4 class="title">
                    {{articleCtrl.article.title}}
                <span class="text text-center" ng-show="articleCtrl.article.isApproved && articleCtrl.article.active" ng-class="{'isApproved': articleCtrl.article.isApproved}">
                    {{'enterprise.article_isApproved' | translate}}
                </span>
                <span class="text text-center" ng-show="articleCtrl.article.isApproved === false && articleCtrl.article.active" ng-class="{'unApproved': articleCtrl.article.isApproved === false}">
                    {{'enterprise.article_unApproved' | translate}}
                </span>
                <span class="text text-center" ng-show="!articleCtrl.article.active" ng-class="{'offline': !articleCtrl.article.active}">
                    {{'enterprise.article_offline' | translate}}
                </span>
                </h4>
                <div class="about">
                    <span class="writer">
                    {{'article.author' | translate}}: {{articleCtrl.article.company.name}}
                </span>
                    <span class="time">{{articleCtrl.article.createdAt | date: 'yyyy-MM-dd'}}</span>
                    <span class="click">{{articleCtrl.article.view}} {{'global.people_num' | translate}} {{'button.preview' | translate}}</span>
                </div>
                <ul class="keyList list-inline">
                    <li class="List" ng-repeat="list in articleCtrl.article.tags">
                        <a >{{list.name}}</a>
                    </li>
                </ul>
                <div ta-bind ng-model="articleCtrl.article.content" class="articlePreviewContent"></div>
            </div>
        </div>
        <!--/.col-->

    </div>
</div>