<div ng-include="'app/components/search/template/search.html'"></div>
<div class="container">
  <div ng-include="'app/components/breadcrumb/template/breadcrumb.html'"></div>
  <div class="row position">
    <div ng-show="positionShowCtrl.tableLoading" class="loading text-center">
      <i class="fa fa-3x fa-spinner fa-spin"></i>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 positionLeft" ng-show="!positionShowCtrl.tableLoading">
      <ul class="list-unstyled positionLeftList">
        <li class="list row" ng-class="{'active': positionShowCtrl.position.id === positionShowCtrl.firstPosition.id}" ng-click="positionShowCtrl.changePosition(0)">
          <div class="col-sm-3 col-xs-4 img">
            <img ng-src="{{positionShowCtrl.position.company.icon.url['100']}}" class="img-responsive" ng-show="positionShowCtrl.position.company.icon !== null">
            <img ng-src="http://placehold.it/100x100" class="img-responsive" ng-show="positionShowCtrl.position.company.icon === null">

          </div>
          <!--/.col-->
          <div class="col-md-7 col-sm-7 col-xs-8">
            <h4 class="jobName">
              {{positionShowCtrl.position.name}}
            </h4>
            <h4 class="companyName" >
              {{positionShowCtrl.position.company.name}}
            </h4>
            <address>
              {{positionShowCtrl.position.address}}
            </address>
          </div>
          <!--/.col-->
          <div class="col-md-2 col-sm-2 hidden-xs text-center other" ng-show="positionShowCtrl.position.id == positionShowCtrl.firstPosition.id">
            <i class="fa fa-star fa-2x" ng-show="positionShowCtrl.firstPosition.bookmarkStatus"></i>
            <i class="fa fa-star-o fa-2x" ng-show="!positionShowCtrl.firstPosition.bookmarkStatus"></i>
            <time>{{positionShowCtrl.position.updatedAt | date: 'MM-dd'}}</time>
          </div>
          <!--/.col-->
        </li>
        <h4 class="otherPositionTitle">{{'position.similar_position' | translate}}</h4>
        <div class="noSimilarPosition text-center" ng-show="!positionShowCtrl.isSimilar">
          {{'message.no_similar_position_msg' | translate}}
        </div>
        <li class="list row" ng-repeat="position in positionShowCtrl.positions"
            ng-class="{'active': position.id == positionShowCtrl.firstPosition.id}" ng-click="positionShowCtrl.changePosition($index)" ng-show="position.id !== positionShowCtrl.positions[0].id" ng-show="positionShowCtrl.isSimilar">
          <div class="col-sm-3 col-xs-12 img">
            <img ng-src="{{position.company.icon.url['100']}}" class="img-responsive" ng-show="position.company.icon !== null">
            <img ng-src="http://placehold.it/200x200" class="img-responsive" ng-show="position.company.icon === null">
          </div>
          <!--/.col-->
          <div class="col-md-7 col-sm-7 col-xs-12 content">
            <h4 class="jobName">
              {{position.name}}
            </h4>
            <h4 class="companyName" >
              {{position.company.name}}
            </h4>
            <address>
              {{position.address}}
            </address>
          </div>
          <!--/.col-->
          <div class="col-md-2 col-sm-2 col-xs-12 text-center other" ng-show="position.id == positionShowCtrl.firstPosition.id">
            <i class="fa fa-star fa-2x" ng-show="position.bookmarkStatus"></i>
            <i class="fa fa-star-o fa-2x" ng-show="!position.bookmarkStatus"></i>
            <time>{{position.updatedAt | date: 'MM-dd'}}</time>
          </div>
          <!--/.col-->
        </li>
      </ul>
      <p class="linkMore text-center" ng-show="positionShowCtrl.positionMore"><a ng-click="positionShowCtrl.positionShowMore()">{{'global.show_more' | translate}}</a></p>
    </div>
    <!--/.col-->
    <div class="col-md-8 col-sm-12 col-xs-12 positionRight" ng-show="!positionShowCtrl.tableLoading">
        <div class="row breadList">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <ul class="list-inline breadLeft">
              <li class="breadlist">
                <a ng-show="positionShowCtrl.firstPosition.bookmarkStatus" ng-click="positionShowCtrl.removeCollectPosition(positionShowCtrl.firstPosition.id)">
                  <i class="fa fa-star"></i>
                  {{'global.saved' | translate}}
                </a>
                <a href="" ng-show="!positionShowCtrl.firstPosition.bookmarkStatus" ng-click="positionShowCtrl.collectPosition(positionShowCtrl.firstPosition.id)">
                  <i class="fa fa-star-o" ></i>
                  {{'global.save' | translate}}
                </a>

              </li>
              <li class="breadlist" ng-show="false">
                <a href="">
                  {{'position.share' | translate}}
                </a>

              </li>
              <li class="breadlist" ng-show="false">
                <a href="">
                  <i class="fa fa-print"></i>
                  {{'position.print' | translate}}
                </a>
              </li>
              <li class="breadlist click">
                <i class="fa fa-eye"></i>
                {{'position.position_click_text_left' | translate}} <strong>{{positionShowCtrl.firstPosition.view}}</strong> {{'position.position_click_text_right' | translate}}
              </li>
            </ul>
          </div>
          <!--/.col-->
          <div class="col-md-4 col-sm-12 col-xs-12">
            <ul class="breadRight list-inline">
              <li class="breadlist">
                {{'position.posted' | translate}}:{{positionShowCtrl.position.createdAt | date: 'yyyy-MM-dd'}}
              </li>
              <li class="breadlist" ng-show="false">
                Employer Ref.MAP2016
              </li>
            </ul>
          </div>
          <!--/.col-->
        </div>
          <div class="backgroundImg">
            <img src="http://placehold.it/990x215" alt="" class="img-responsive" ng-show="positionShowCtrl.position.company.cover === null">
            <img ng-src="{{positionShowCtrl.position.company.cover.url['1024']}}" alt="" class="img-responsive" ng-show="positionShowCtrl.position.company.cover !== null">
          </div>
          <div class="positionTitle row">
            <div class="col-md-3 col-sm-3 col-xs-4">
              <fieldset class="positionTitleImg">
                <a ui-sref="main.company({id: positionShowCtrl.position.company.id})">
                    <img ng-src="{{positionShowCtrl.position.company.icon.url['160']}}" class="img-responsive" ng-show="positionShowCtrl.position.company.icon !== null">
                    <img src="http://placehold.it/160x160" class="img-responsive" ng-show="positionShowCtrl.position.company.icon === null">
                </a>
              </fieldset>
            </div>
            <!--/.col-->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <ul class="positionTitleList list-inline">
                <li ng-repeat="nav in positionShowCtrl.positionTab" ng-class="{'active': positionShowCtrl.positionIndex === nav.id}" ng-click="positionShowCtrl.changeTab(nav.id)">
                  <a href="">{{nav.name | translate}}</a>
                </li>
              </ul>
            </div>
            <!--/.col-->


            <div class="col-md-3  col-sm-3 col-xs-12 apply">
              <button class="btn" ng-class="{'btn-success': positionShowCtrl.isApplied === false,'btn-default': positionShowCtrl.isApplied === true}" ng-disabled="positionShowCtrl.isApplied"
                      ng-click="positionShowCtrl.setCandidate(positionShowCtrl.firstPosition.id)">
                {{ (positionShowCtrl.isApplied ? 'global.applied_position' : 'global.apply') | translate}}
              </button>
            </div>
            <!--/.col-->

          </div>
          <!--/.col-->
        <div class="row positionContent">
          <div class="col-xs-12">
            <h5 class="companyName clearfix">
              <span class="name pull-left">
                <a ui-sref="main.company({companyId: positionShowCtrl.firstPosition.company.id})">
                  {{positionShowCtrl.firstPosition.company.name}}
                </a>
              </span>
            </h5>

            <p class="companyAbout" ng-show="positionShowCtrl.firstPosition.company.description !== null">
                  <span>
                    {{positionShowCtrl.firstPosition.company.description | escapeHtml | limitTo: 100}}
                    <span ng-show="!positionShowCtrl.descriptionShow && positionShowCtrl.firstPosition.company.description.length > 100">...</span>
                    <a href="" ng-click="positionShowCtrl.descriptionShow = !positionShowCtrl.descriptionShow" ng-show="!positionShowCtrl.descriptionShow && positionShowCtrl.firstPosition.company.description.length > 100">{{'global.expand' | translate}}</a>
                  </span>
                  <span ng-show="positionShowCtrl.descriptionShow">
                    {{positionShowCtrl.firstPosition.company.description | escapeHtml | limitTo: 255 : 101}}
                    <a href="" ng-click="positionShowCtrl.descriptionShow = !positionShowCtrl.descriptionShow" ng-show="positionShowCtrl.descriptionShow">{{'global.put_away' | translate}}</a>
                  </span>
            </p>
            <article class="positionCompany">
              <div class="detail row">
                <div class="col-sm-6 col-xs-12 list" ng-show="positionShowCtrl.firstPosition.company.url !== 'http://'">
                  <div class="item row">
                    <div class="col-md-4 col-sm-5 col-xs-6 name">
                      {{'company.url' | translate}}
                    </div>
                    <!--/.col-->
                    <div class="col-md-8 col-sm-7 col-xs-6 text">
                      <a href="{{positionShowCtrl.firstPosition.company.url}}" class="companyAboutLink">
                        {{positionShowCtrl.firstPosition.company.url}}
                      </a>
                    </div>
                    <!--/.col-->
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-xs-12 list" ng-show="positionShowCtrl.firstPosition.company.stage !== null">
                  <div class="item row">
                    <div class="col-md-4 col-sm-5 col-xs-6 name">
                      {{'company.company_stage' | translate}}
                    </div>
                    <!--/.col-->
                    <div class="col-md-8 col-sm-7 col-xs-6 text">
                      {{positionShowCtrl.firstPosition.company.stage}}
                    </div>
                    <!--/.col-->
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-xs-12 list" ng-show="positionShowCtrl.firstPosition.company.field !== null">
                  <div class="item row">
                    <div class="col-md-4 col-sm-5 col-xs-6 name">
                      {{'company.field' | translate}}
                    </div>
                    <!--/.col-->
                    <div class="col-md-8 col-sm-7 col-xs-6 text">
                      {{positionShowCtrl.firstPosition.company.field}}
                    </div>
                    <!--/.col-->
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-xs-12 list" ng-show="positionShowCtrl.firstPosition.company.scale !== null">
                  <div class="item row">
                    <div class="col-md-4 col-sm-5 col-xs-6 name">
                      {{'company.scale' | translate}}
                    </div>
                    <!--/.col-->
                    <div class="col-md-8 col-sm-7 col-xs-6 text">
                      {{positionShowCtrl.firstPosition.company.scale}} {{'global.people_num' | translate}}
                    </div>
                    <!--/.col-->
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-12 col-xs-12 list" ng-show="positionShowCtrl.firstPosition.company.address !== null">
                  <div class="item row">
                    <div class="col-md-2 col-sm-3 col-xs-6 name">
                      {{'company.address' | translate}}
                    </div>
                    <!--/.col-->
                    <div class="col-md-10 col-sm-9 col-xs-6 text">
                      {{positionShowCtrl.firstPosition.company.address}}
                    </div>
                    <!--/.col-->
                  </div>
                </div>
                <!--/.col-->
              </div>
            </article>

            <article class="positionKeyList" ng-show="positionShowCtrl.firstPosition.tags.length > 0">
              <p>{{'position.tags' | translate}}:</p>
              <ul class="list-inline keyList" >
                <li class="List" ng-repeat="tag in positionShowCtrl.firstPosition.tags">
                  {{tag.name}}
                </li>
              </ul>
            </article>
            <!--/.positionKeyList-->

            <uib-tabset active="positionShowCtrl.positionIndex">
              <div class="row" ng-if="positionShowCtrl.Loading">
                <div class="col-sm-12 loading text-center">
                  <i class="fa fa-spinner fa-pulse fa-3x"></i>
                </div>
                <!--/.col-->
              </div>
              <uib-tab index="1" ng-if="!positionShowCtrl.Loading">
                <h4 class="positionName">
                  {{positionShowCtrl.firstPosition.name}}
                </h4>
                <article class="positionAbout">
                  <h4>{{'position.job_requirements' | translate}}</h4>
                  <p class="content" ta-bind ng-model="positionShowCtrl.firstPosition.description"></p>
                </article>

                <article class="positionSkills" ng-show="false">
                  <h4>Skills</h4>
                  <p class="content">
                    AVA后台系统的框架、公共组件、公共模块的实现；
                    2、对新技术、新方案进行预演和评估；
                    3、负责JAVA后台系统的问题定位和排查；
                    4、进行技术难点的攻关；
                  </p>
                </article>

                <article class="positionDetail">
                  <ul class="positionDetailOne list-inline">
                    <div class="row">

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <li class="list">
                          <dl class="category">
                            <div class="row">
                              <div class="col-sm-4 col-xs-12">
                                <dt>
                                  {{'position.category' | translate}}
                                </dt>
                              </div>
                              <!--/.col-->
                              <div class="col-sm-8 col-xs-12">
                                <dd ng-repeat="category in positionShowCtrl.firstPosition.categories">
                                  <a>{{category.name}}</a>
                                </dd>
                              </div>
                              <!--/.col-->
                            </div>
                          </dl>

                          <dl class="experience">
                            <div class="row">
                              <div class="col-sm-4 col-xs-12">
                                <dt>
                                  {{'user.profile.experience' | translate}}
                                </dt>
                              </div>
                              <!--/.col-->
                              <div class="col-sm-8 col-xs-12">
                                <dd>{{positionShowCtrl.firstPosition.experience}} {{'global.year' | translate}}</dd>
                              </div>
                              <!--/.col-->
                            </div>
                          </dl>


                          <dl class="pay">
                            <div class="row">
                              <div class="col-sm-4 col-xs-12">
                                <dt>
                                  {{'user.profile.education' | translate}}
                                </dt>
                              </div>
                              <!--/.col-->
                              <div class="col-sm-8 col-xs-12">
                                <dd>{{positionShowCtrl.firstPosition.educationLevel.name}}</dd>
                              </div>
                              <!--/.col-->
                            </div>
                          </dl>

                          <dl class="money">
                            <div class="row">
                              <div class="col-sm-4 col-s-12">
                                <dt>
                                  {{'position.jobNature' | translate}}
                                </dt>
                              </div>
                              <!--/.col-->
                              <div class="col-sm-8 col-xs-12">
                                <dd ng-if="positionShowCtrl.position.jobNatures !== null">
                                  {{positionShowCtrl.firstPosition.jobNatures.name}}
                                </dd>
                              </div>
                              <!--/.col-->
                            </div>
                          </dl>

                        </li>
                      </div>
                      <!--/.col-->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <li class="list">
                          <dl class="address">
                            <div class="row">
                              <div class="col-sm-4 col-xs-12">
                                <dt>
                                  {{'position.workplace' | translate}}
                                </dt>
                              </div>
                              <!--/.col-->
                              <div class="col-sm-8 col-xs-12">
                                <dd>{{positionShowCtrl.firstPosition.address}}</dd>
                              </div>
                              <!--/.col-->
                            </div>
                          </dl>
                          <dl class="pay">
                            <div class="row">
                              <div class="col-sm-4 col-xs-12">
                                <dt>
                                  {{'position.pay_type' | translate}}
                                </dt>
                              </div>
                              <!--/.col-->
                              <div class="col-sm-8 col-xs-12">
                                <dd>
                                  {{positionShowCtrl.firstPosition.type}}
                                </dd>

                              </div>
                              <!--/.col-->
                            </div>
                          </dl>
                          <dl class="money">
                            <div class="row">
                              <div class="col-sm-4 col-s-12">
                                <dt>
                                  {{'position.salary' | translate}}
                                </dt>
                              </div>
                              <!--/.col-->
                              <div class="col-sm-8 col-xs-12">
                                <dd
                                        ng-if="positionShowCtrl.firstPosition.minSalary === 0 && positionShowCtrl.firstPosition.maxSalary === 0">
                                  {{'position.negotiation' | translate}}
                                </dd>
                                <dd
                                        ng-if="positionShowCtrl.firstPosition.minSalary !== 0 && positionShowCtrl.firstPosition.maxSalary !== 0">
                                  {{positionShowCtrl.firstPosition.minSalary}}-{{positionShowCtrl.firstPosition.maxSalary}}{{'global.money'
                                  |
                                  translate}}/{{positionShowCtrl.firstPosition.salaryType | translate}}
                                </dd>

                              </div>
                              <!--/.col-->
                            </div>
                          </dl>
                          <dl class="other" ng-show="false">
                            <div class="row">
                              <div class="col-sm-4 col-xs-12">
                                <dt>
                                  {{'position.treatment' | translate}}
                                </dt>
                              </div>
                              <!--/.col-->
                              <div class="col-sm-8 col-xs-12">
                                <dd>
                                  <i>5</i>5天工作日
                                </dd>
                                <dd>
                                  <i>13</i>十三个月薪酬
                                </dd>
                                <dd>
                                  <i>$</i>弹性花红
                                </dd>
                                <dd>
                                  <i>+</i>医疗计划
                                </dd>
                              </div>
                              <!--/.col-->
                            </div>
                          </dl>
                        </li>
                      </div>
                      <!--/.col-->
                    </div>

                  </ul>
                </article>

                <article class="skills" ng-show="positionShowCtrl.firstPosition.skills.length > 0 && positionShowCtrl.isLogin">
                  <p class="title">
                    {{'position.skillCompare' | translate}} <span>{{'position.skillMatch' | translate}}:</span>
                  </p>

                  <ul class="keyList list-inline">
                    <li class="list" ng-repeat="skill in positionShowCtrl.firstPosition.skills" ng-class="{'active': skill.match}">
                      {{skill.name}}
                    </li>
                  </ul>
                </article>

                <article class="morePosition" ng-show="positionShowCtrl.otherPosition.length > 0">
                  <div class="row">
                    <div class="col-sm-10 col-xs-12">
                      <h4>
                        {{'global.more_position' | translate}}
                      </h4>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-2 col-xs-12">
                      <a ui-sref="main.company-position-list({companyId: positionShowCtrl.firstPosition.companyId})">{{'global.show_more' | translate}}</a>
                    </div>
                    <!--/.col-->
                  </div>
                  <ul class="list-inline">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="position in positionShowCtrl.otherPosition  | limitTo : 4">
                        <li class="List">
                          <p class="title">
                            <a ui-sref="main.show-position({id: position.id})">
                              {{position.name}}
                            </a>
                          </p>
                          <p>
                            <span class="salary" ng-show="position.minSalary > 0 && position.maxSalary > 0">
                              {{position.minSalary}} - {{position.maxSalary}} {{'global.money' | translate}}
                            </span>
                            <span>{{position.experience}}</span> /
                            <span>{{position.educationLevel.name}}</span> /
                            <span>{{position.type}}</span>
                          </p>

                        </li>

                      </div>
                      <!--/.col-->

                    </div>
                  </ul>
                </article>




                <article class="positionChart" ng-show="positionShowCtrl.candidateNum > 0">
                  <div class="loading text-center" ng-if="positionShowCtrl.chartLoading">
                    <div class="row">
                      <div class="col-sm-12">
                        <i class="fa fa-spinner fa-pulse fa-3x"></i>
                      </div>
                      <!--/.col-->
                    </div>
                  </div>
                  <div ng-if="!positionShowCtrl.chartLoading">
                    <div class="row">
                      <div class="col-sm-4 col-xs-12">
                        <h4 class="positionChartTitle">
                          {{'position.apply_position_text_left' | translate}} <span>{{positionShowCtrl.candidateNum}}</span> {{'position.apply_position_text_right' | translate}}
                        </h4>
                      </div>
                      <!--/.col-->
                    </div>
                    <div class="popup" ng-show="!positionShowCtrl.isLogin">
                      {{'message.position_chart_message' | translate}}
                    </div>
                    <div class="row" ng-class="{'box-shadow': !positionShowCtrl.isLogin}">
                      <div class="col-sm-12">
                        <div class="positionChartContent" >
                          <div class="row">
                            <div class="col-sm-4 col-xs-12">
                              <h5 class="text-left positionChartSubTitle">
                                {{'position.apply_position_num_other' | translate}}
                                <span>{{'user.profile.education' | translate}}</span>
                              </h5>
                            </div>
                            <!--/.col-->
                          </div>


                          <div class="row educationChart">
                            <div class="col-sm-2 col-md-2 col-xs-12">
                              <div class="positionChartContentLeft text-center">
                                <strong>{{positionShowCtrl.candidateNum}}</strong>
                                 {{'position.apply_position_num' | translate }}
                              </div>
                            </div>
                            <!--/.col-->
                            <div class="col-sm-7 col-xs-12 chartContent">
                              <div class="chart-pie">
                                <canvas id="pie_education" class="chart chart-pie"
                                        chart-data="positionShowCtrl.educationChartData" chart-labels="positionShowCtrl.educationChartLabels" chart-legend="true" >

                                </canvas>

                              </div>


                            </div>
                            <!--/.col-->
                          </div>

                        </div>

                        <div class="positionChartContent" >
                          <div class="row">
                            <div class="col-sm-4 col-xs-12">
                              <h5 class="text-left positionChartSubTitle">
                                {{'position.apply_position_num_other' | translate}}
                                <span>{{'user.profile.experience' | translate}}</span>
                              </h5>
                            </div>
                            <!--/.col-->
                          </div>

                          <div class="row">
                            <div class="col-sm-2 col-md-2 colo-xs-12">
                              <div class="positionChartContentLeft text-center">
                                <strong>{{positionShowCtrl.candidateNum}}</strong>
                                {{'position.apply_position_num' | translate }}
                              </div>
                            </div>
                            <!--/.col-->
                            <div class="col-sm-7 col-xs-12 chartContent">
                              <div class="chart-pie">
                                <canvas id="pie_experience" class="chart chart-pie"
                                        chart-data="positionShowCtrl.experienceChartData" chart-labels="positionShowCtrl.experienceChartLabels" chart-legend="true" >

                                </canvas>

                              </div>


                            </div>
                            <!--/.col-->
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </uib-tab>
              <uib-tab index="2" ng-if="!positionShowCtrl.Loading">
                <div class="article">
                  <div class="loading text-center" ng-show="positionShowCtrl.relatedLoading">
                    <i class="fa fa-3x fa-spinner fa-spin"></i>
                  </div>
                  <div ng-show="!positionShowCtrl.relatedLoading">
                    <div class="noPosition text-center" ng-show="positionShowCtrl.relatedArticles.length === 0">
                      {{'message.no_related_article_msg' | translate}}
                    </div>
                    <div class="item clearfix" ng-show="positionShowCtrl.relatedArticles.length > 0" ng-repeat="article in positionShowCtrl.relatedArticles">
                      <a href="" ui-sref="main.articles-show({articleId: article.id})" class="pull-left">
                        <img src="http://placehold.it/100x60" alt="" class="img-responsive" ng-show="article.cover === null">
                        <img ng-src="{{article.cover.url['100']}}" alt="" class="img-responsive " ng-show="article.cover !== null">
                      </a>
                      <div class="pull-left content">
                        <h4>
                          <a href="" ui-sref="main.articles-show({articleId: article.id})">
                            {{article.title}}
                          </a>
                        </h4>
                        <ul class="list list-inline">
                          <li ng-repeat="tag in article.tags" class="tag">
                            <span>{{tag.name}}</span>
                          </li>
                          <li class="time">
                            {{article.createdAt | date: 'yyyy-MM-dd'}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
                <article class="otherCompanyPosition" ng-show="positionShowCtrl.otherCompanyPosition.length > 0">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12">
                      <h4>
                        {{'position.other_company_position' | translate}}
                      </h4>
                    </div>
                    <!--/.col-->
                  </div>
                  <ul class="list-inline">
                    <div class="loading text-center" ng-show="positionShowCtrl.otherCompanyPositionLoading">
                      <div class="row">
                        <div class="col-sm-12">
                          <i class="fa fa-spinner fa-pulse fa-3x"></i>
                        </div>
                        <!--/.col-->
                      </div>
                    </div>
                    <div class="row" ng-show="!positionShowCtrl.otherCompanyPositionLoading">
                      <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="item in positionShowCtrl.otherCompanyPosition | limitTo: 6">
                        <li class="List clearfix row">
                            <fieldset class="col-sm-5 col-xs-12">
                              <a ui-sref="main.show-position({id: item.id})">
                                <img src="http://placehold.it/100x100" class="img-responsive img-rounded" ng-show="item.company.pictures.length === 0">
                                <img ng-src="{{item.company.pictures[0].url['100']}}" class="img-responsive img-rounded" ng-show="item.company.pictures.length > 0">
                              </a>
                            </fieldset>
                            <div class="content pull-left col-sm-7 col-xs-12">
                              <p class="title">
                                <a ui-sref="main.show-position({id: item.id})">
                                  {{item.name}}
                                </a>
                              </p>

                              <div class="salary" ng-show="item.maxSalary > 0 && item.minSalary > 0">
                                {{item.minSalary}}-{{item.maxSalary}} <span>{{'global.money' | translate}}</span>
                              </div>
                              <div class="salary" ng-show="item.maxSalary <= 0 && item.minSalary <= 0">
                                {{'position.negotiation' | translate}}
                              </div>
                              <address>{{item.address}}</address>
                            </div>

                        </li>
                      </div>
                      <!--/.col-->
                    </div>
                  </ul>
                </article>
              </uib-tab>
            </uib-tabset>
          </div>
          <!--/.col-->
        </div>
    </div>
    <!--/.col-->
  </div>
</div>




