<div class="container">
    <div ng-include="'app/components/dashboard_tabs/template/dashboard.tabs.html'"></div>

    <div class="text-center loading" ng-show="jobOfferListCtrl.tableLoading">
        <i class="fa fa-spinner fa-pulse fa-3x"></i>
    </div>

    <div ng-show="!jobOfferListCtrl.tableLoading">
        <div class="noJobOffer row">
            <div class="col-xs-12">
                <img src="../../assets/img/EasyBoost_{{'global.lang' | translate}}.png" alt="" class="img-responsive">
            </div>
            <!--/.col-->
            <div class="tips col-xs-12 text-center">{{'message.job_offer_experience_new_recruitment_function' | translate}} - EasyBoost</div>
            <div class="button text-center col-xs-12">
                <a href="" ui-sref="enterprise-auth.company.job_offer({companyId: jobOfferListCtrl.companyId})" type="button" class="btn btn-success">
                    {{ 'enterprise.send_position_offer' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>