<div class="container">
    <div class="row accountHead">
        <div class="col-xs-12">
            <h3 class="title">
                {{'credit.bill' | translate}}
            </h3>
            <p class="content">FreshLinker {{'message.credit_card_each_account_ensure_absolute_security' | translate}}。</p>
        </div>
        <!--/.col-->
    </div>
    <div class="account row">
        <div class="accountLeft col-md-3 col-sm-12 col-xs-12">
            <div class="content">
                <div class="button">
                    <a href="" class="btn btn-success accountSub" ui-sref="enterprise-auth.company.company-dashboard({companyId: accountCtrl.companyId})">
                        {{ 'enterprise.dashboard' | translate }}
                    </a>

                    <a href="" type="button" class="btn btn-default" >
                        {{'global.download' | translate}}
                    </a>
                </div>
                <ul class="editList list-unstyled">
                    <li class="list">
                        <a href="" ui-sref="enterprise-auth.company.account({companyId: accountCtrl.companyId})">{{'account.recharge_record' | translate}}</a>
                    </li>
                    <li class="list">
                        <a href="" ui-sref="enterprise-auth.company.consume({companyId: accountCtrl.companyId})">{{'account.expenses_record' | translate}}</a>
                    </li>
                </ul>
                <div class="searchForm">
                    <h5>{{'search.dashboard_search_position' | translate}}</h5>
                    <form action="" ng-submit="">
                        <div class="form-group">
                            <input type="text" placeholder="{{'message.position_name_input' | translate}}" ng-required="true">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">{{'button.determine' | translate}}</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!--/.col-->
        <div class="accountRight col-md-9 col-sm-12 col-xs-12">
            <div ng-if="!accountCtrl.changeTabLoading">
                <div class="loading text-center" ng-show="accountCtrl.loading">
                    <i class="fa fa-spinner fa-pulse fa-3x"></i>
                </div>
                <ul class="list-unstyled accountRightUl" ng-show="!accountCtrl.loading && accountCtrl.accounts.length > 0">
                    <li class="row list title">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{'credit.created_time' | translate}}
                        </div>
                        <!--/.col-->
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{'credit.bill_num' | translate}}
                        </div>
                        <!--/.col-->
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{'credit.bill_price' | translate}}
                        </div>
                        <!--/.col-->
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{'credit.bill_status' | translate}}
                        </div>
                        <!--/.col-->
                    </li>
                    <div st-table="accountCtrl.accounts" st-safe-src="accountCtrl.accounts"
                         st-pipe="accountCtrl.callServer">
                        <li class="row list" ng-repeat="item in accountCtrl.accounts">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        {{item.created}}
                    </div>
                    <!--/.col-->
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        {{item.description}}
                    </div>
                    <!--/.col-->
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        + {{item.currency}} {{item.amount / 100}}
                    </div>
                    <!--/.col-->
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        {{item.paid}}
                    </div>
                    <!--/.col-->
                </li>
                        <!-- page -->
                        <div class="page text-center" st-current-page="accountCtrl.filter.page"
                             st-template="app/shared/override/smart-table/pagination.html"
                             st-next-prev-pagination=""
                             st-pagination-action="accountCtrl.paginationAction"
                             st-items-by-page="accountCtrl.itemsByPage">
                        </div>
                    </div>
                </ul>
                <div class="noAccount text-center" ng-show="!accountCtrl.loading && accountCtrl.accounts.length === 0">
                    {{'message.credit_card_no_recharge_account' | translate}}
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>

